<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Исторические места России</title>
</head>

<body>
  <header>
    <h1>Исторические места России</h1>
    <a id="indexC" href="/">Главная</a>
  </header>

  <nav>
    <ul>
      <li><a href="#red-square">Красная Площадь и Кремль, Москва</a></li>
      <li><a href="#hermitage">Эрмитаж, Санкт-Петербург</a></li>
      <li><a href="#suzdal-kremlin">Суздальский кремль, Суздаль</a></li>
      <li><a href="#bolshoi-theatre">Большой Театр, Москва</a></li>
      <li><a href="#petersburg-palace">Петербургский Дворец, Петербург</a></li>
    </ul>
  </nav>

  <main>
    <section id="red-square">
      <h2>Красная площадь и Кремль, Москва</h2>
      <p>Одно из самых известных и исторически значимых мест в России.</p>
      <p><img src="images/красная-площадь-и-кремль-москва.jpg" alt="Красная площадь и Кремль, Москва" /></p>
      <p><h3>Красная площадь:</h3>
      Красная площадь это большая площадь в центре Москвы, которая является одним из самых популярных туристических направлений в мире. На площади расположены такие достопримечательности, как Мавзолей Ленина, Исторический музей, ГУМ и Казанский собор.</p>
      <p><h3>Кремль:</h3>Кремль это древняя крепость, которая является резиденцией президента Российской Федерации. Кремль также является домом для многих важных исторических и культурных памятников, включая Собор Василия Блаженного, Успенский собор и Алмазный фонд.</p>
      <h3>Дополнительная информация:</h3>

      <ul>
        <li>Красная площадь была местом проведения многих важных исторических событий, включая Октябрьскую революцию 1917 года.</li>
        <li>Кремль является объектом Всемирного наследия ЮНЕСКО.</li>
      </ul>
    </section>



    <section id="hermitage">
      <h2>Эрмитаж, Санкт-Петербург</h2>
      <p>Один из крупнейших и наиболее известных музеев в мире.</p>
      <p><img src="images/эрмитаж-санкт-петербург.jpg" alt="Эрмитаж, Санкт-Петербург" /></p>
      <p><h3>Эрмитаж:</h3> 
      Эрмитаж расположен в Санкт-Петербурге и является домом для обширной коллекции произведений искусства, включая картины, скульптуры, ювелирные изделия, предметы декоративно-прикладного искусства и многое другое.</p>
      <p><h3>Основание Эрмитажа:</h3> Эрмитаж был основан в 1764 году императрицей Екатериной II. В настоящее время в музее хранится более 3 миллионов экспонатов, охватывающих период от древности до наших дней.</p>
      <p><h3>Дополнительная информация:</h3></p>
      <ul>
        <li>Эрмитаж является одним из самых посещаемых музеев в мире.</li>
        <li>В музее хранится знаменитая коллекция полотен Леонардо да Винчи, в том числе «Мадонна Бенуа» и «Мадонна Литта».</li>
      </ul>
    </section>


    <section id="suzdal-kremlin">
        <h2>Суздальский кремль, Суздаль</h2>
        <p>Один из старейших кремлей в России.</p>
        <p><img src="images/суздальский-кремль-суздал.jpg" alt="Суздальский кремль, Суздаль" /></p>
        <p><h3>Суздальский кремль:</h3> 
        Суздальский кремль — это древняя крепость, расположенная в городе Суздаль Владимирской области. Кремль был построен в 11 веке и является одним из наиболее хорошо сохранившихся кремлей в России.</p>
        <p><h3>Достопримечательности:</h3> В кремле расположены такие достопримечательности, как Успенский собор, Дмитриевский собор, Спасо-Евфимиев монастырь и Архиерейские палаты.</p>
        <p><h3>Дополнительная информация:</h3></p>
        <ul>
          <li>Суздальский кремль является одним из старейших кремлей в России.</li>
          <li>В кремле расположен Успенский собор, который является одним из самых ранних каменных соборов в России.</li>
        </ul>
    </section>

    <section id="bolshoi-theatre">
      <h2>Большой театр, Москва</h2>
      <p>Один из самых известных оперных и балетных театров в мире.</p>
      <p><img src="images/большой-театр-москва.jpg" alt="Большой театр, Москва" /></p>
      <p><h3>Большой театр:</h3>
      Большой театр — это один из самых известных оперных и балетных театров в мире. Он расположен в Москве и является домом для Московской государственной академической оперы и балета.</p>
      <p><h3>Основание большого театра:</h3>Большой театр был основан в 1776 году. В настоящее время он является одним из самых престижных театров в мире и регулярно принимает ведущих оперных и балетных певцов и танцоров.</p>
      <p><h3>Дополнительная информация:</h3></p>
      <ul>
        <li>Большой театр является одним из самых престижных театров в мире.</li>
        <li>В театре проходили премьеры многих известных опер и балетов, в том числе «Бориса Годунова» и «Лебединого озера».</li>
      </ul>
    </section>


    <section id="petersburg-palace">
      <h2>Петербургский Дворец, Петербург</h2>
      <p>Один из самых роскошных дворцов в мире.</p>
      <p><img src="images/петербургский-дворец-петербург.jpg" alt="Петербургский Дворец, Петербург" /></p>
      <p><h3>Петербургский Дворец</h3>
      Петербургский Дворец — это роскошный дворец, расположенный в Санкт-Петербурге. Дворец был построен в 18 веке для императора Петра Великого и является одним из крупнейших дворцов в мире.</p>
      <p><h3>Основание Двореца:</h3>Дворец был построен в стиле барокко и является домом для обширной коллекции произведений искусства, включая картины, скульптуры, предметы декоративно-прикладного искусства и многое другое.</p>
      <p><h3>Дополнительная информация:</h3></p>
      <ul>
        <li>Петербургский Дворец является одним из самых роскошных дворцов в мире.</li>
        <li>Дворец был построен в стиле барокко и является одним из самых узнаваемых зданий в Санкт-Петербурге.</li>
      </ul>
    </section>

  </main>

  <footer>
    <p>&copy; 2024 Исторические места России</p>
  </footer>
</body>

</html>
