<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script defer src="scripts.js"></script>
    <script defer src="anima.js"></script>
    <title>Путеводитель по историко-культурным ценностям России</title>
</head>

<body>
    <header>
        <h1>Путеводитель по историко-культурным ценностям России</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#historical-places">Исторические места</a></li>
            <li><a href="#cultural-events">Культурные события</a></li>
            <li><a href="#museums-exhibitions">Музеи и выставки</a></li>
            <li><a href="#traditional-cuisine">Традиционная кухня</a></li>
            <li><a href="#festivals-celebrations">Фестивали и праздники</a></li>
        </ul>
    </nav>

    <main>

        <section id="historical-places" >
            <h2>Исторические места</h2>
            <p>Откройте для себя богатую историю России, посетив следующие исторические места:</p>
            <ul>
                <li>Красная Площадь и Кремль, Москва</li>
                <li>Эрмитаж, Санкт-Петербург</li>
                <li>Суздальский кремль, Суздаль</li>
                <li>Большой Театр, Москва</li>
                <li>Петербургский Дворец, Петербург</li>
            </ul>
        </section>


        <section id="cultural-events">
            <h2>Культурные события</h2>
            <p>Погрузитесь в культуру России, посетив уникальные культурные события:</p>
            <ul>
                <li>Фестиваль "Спасская башня", Москва</li>
                <li>Белые ночи, Санкт-Петербург</li>
                <li>Московский международный кинофестиваль</li>
                <li>Балетные представления в Мариинском театре</li>
                <li>Русский театральный фестиваль</li>
            </ul>
        </section>

        <section id="museums-exhibitions">
            <h2>Музеи и выставки</h2>
            <p>Россия предлагает уникальные музеи и выставки, включая:</p>
            <ul>
                <li>Государственный Эрмитаж, Санкт-Петербург</li>
                <li>Государственный исторический музей, Москва</li>
                <li>Третьяковская галерея, Москва</li>
                <li>Музей космонавтики, Москва</li>
                <li>Экспозиции Русского музея, Санкт-Петербург</li>
            </ul>
        </section>

        <section id="traditional-cuisine">
            <h2>Традиционная кухня</h2>
            <p>Наслаждайтесь вкусами традиционной русской кухни в лучших ресторанах страны:</p>
            <ul>
                <li>Борщ и пельмени</li>
                <li>Щи и солянка</li>
                <li>Блины с икрой</li>
                <li>Сибирская котлета по-пожарски</li>
                <li>Оливье и винегрет</li>
            </ul>
        </section>

        <section id="festivals-celebrations">
            <h2>Фестивали и праздники</h2>
            <p>Участвуйте в ярких фестивалях и празднованиях в России:</p>
            <ul>
                <li>Масленица - весенний фестиваль</li>
                <li>День Победы - 9 мая</li>
                <li>День города в Москве и Санкт-Петербурге</li>
                <li>Троицкая ярмарка</li>
                <li>Новый Год и Рождество</li>
            </ul>
        </section>
    </main>



    <footer>
        <p>&copy; 2024 Путеводитель по историко-культурным ценностям России</p>
    </footer>
</body>

</html>
